body {
    background-color: rgba(5, 5, 5, 0.897);
    margin: 5px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;        
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(83, 82, 88);    
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.842);
    padding: 6px 0;    
 }

.logo{
     padding: 5px;
 }
 .acess{
     margin-right: 5px;
     padding: 5px;
     float: right;
     width: 2%;
     
 }

.content{
    background-image: url(../img/forza.jpg);
    background-color: rgba(21, 21, 22, 0.863);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 0.5em;
    position: center;    
    display: flex;
    align-items: center;      
}

.center{
    background-color: rgba(26, 16, 16, 0.8);
    margin: 0 auto;
    padding: 1em;
    font-size: 0.8em;   
    width: 40%; 
    border-radius: 0.5em;          
    
}

.boasvindas{
    color: rgba(231, 45, 45, 0.911);
}
.intro{
    margin: 20px auto;
    padding: 0 40px;
    width: 60%;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}
hr{
    margin: 0 auto;
    width: 60%;    
}

h2{
    color: rgba(231, 45, 45, 0.911);
    margin: 10px;
    text-align: center;
    text-decoration: underline;

}

/* .acao{
    margin: 20px;
    display: block;
    text-align: center;
} */
/* .jogosdeacao{
    /* margin: 10px; 
    text-align: center;
    
} */
.ul{
    /* margin: 0 auto; */
    padding: 0 20%;
    display: flex;    
    width: 100%;
    
}
.Jogos{
    /* margin: 0 auto; */
    display: inline;
    width: 20%; 
          
} 
.capa{
    width: 100%;        
    height: 250px;
}

.item{
    display: flex;
    flex-direction: column;
    
}
a{
    margin: 10px;
    color: whitesmoke;
    text-align: center;
}

/* .buttons{
    text-align: center;
    
    
}*/
button{
    width: 80%;    
    background-color: rgb(22, 11, 175);     
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;     
    border-radius: 10px;
    color: whitesmoke; 

    
} 

.corrida{
    margin: 20px auto;
    text-align: center;
}

.login{
    width: 22px;
}
.corrida li{
    margin: 10px ;
    display: inline-block;
}

footer {
    background-color: rgb(83, 82, 88); 
    display: inline-block;    
    
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);        
    text-align: center;
    
 }

 /* footer li{
    margin: 0 1px auto;
    display: inline;
    
} */

.rodape{
    margin: 10px;
    
}

.logorodape{
    margin: 0 5px;    
    width: 22px;
    height: auto;
    float: left;
}
p{
    font-size: 10px;
    color: whitesmoke;
}